@import "~normalize.css";

@import "_variables";

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 300px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  @media screen and (min-width: 520px) {
    max-width: 480px;
  }
}

.button {
  padding: 8px 32px;
  margin-bottom: 32px;
  border: 1px solid #121232;
  border-radius: 4px;
  background-color: rgba(236, 192, 47, 0.721);
}

.header {
  font-family: "gabriel_weiss_friends_fontRg";
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 64px;
  @media screen and (min-width: 520px) {
    font-size: 40px;
    margin-top: 124px;
  }

  &__dot {
    margin: 8px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    @media screen and (min-width: 520px) {
      margin: 16px;
    width: 8px;
    height: 8px;
    }
    &--blue {
      background: blue;
    }
    &--red {
      background: red;
    }
    &--yellow {
      background: rgb(236, 192, 47);;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12px;
  @media screen and (min-width: 520px) {
    margin: 0px;
  }
  &__author {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    &::before {
      content: "—";
      color: rgb(0, 0, 0);
    }
    @media screen and (min-width: 520px) {
      font-size: 14px;
    line-height: 22px;
    }
  }
  &__text {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    @media screen and (min-width: 520px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
.subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 42px;
  @media screen and (min-width: 520px) {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 64px;
  }
}
