@import "~normalize.css";

@import "_variables";

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 300px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  @media screen and (min-width: 520px) {
    max-width: 480px;
  }
  @media screen and (min-width: 1020px) {
    max-width: 800px;
  }
}

.button {
  padding: 8px 32px;
  margin-bottom: 32px;
  border: 1px solid #121232;
  border-radius: 4px;
  background-color: rgba(236, 192, 47, 0.721);
}

.header {
  width: 100%;
}


.logo {
  margin: 16px;
  width: 100%;
  height: 120px;
  &__dot {
    &--blue {
      fill: blue;
    }
    &--red {
      fill: red;
    }
    &--yellow {
      fill: rgb(236, 192, 47);
    }
  }
  @media screen and (min-width: 520px) {
    height: 240px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12px;
  @media screen and (min-width: 520px) {
    margin: 0px;
  }
  &__author {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    
    &::before {
      content: "—";
      color: rgb(0, 0, 0);
    }
    @media screen and (min-width: 520px) {
      font-size: 18px;
    line-height: 32px;
    }
  }
  &__text {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    @media screen and (min-width: 520px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
.subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin: 0 0 42px 0;
  @media screen and (min-width: 520px) {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 64px;
  }
}
